<div id="fh5co-featured" data-section="features">
			<div class="container">
				<div class="row text-center fh5co-heading row-padded">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="heading">Featured Dishes</h2>
						<p class="sub-heading">we prepared some desi chakna dishes because marriage between drink and chakna makes your weekend more more more and more happyyyyyyy....</p>
					</div>
				</div>
				<div class="row">
					<div class="fh5co-grid">
						<div class="fh5co-v-half">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/chanagaram.jpg)"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Chana Jor Garam</h2>
								<span class="pricing">Rs 65</span>
								<p>This simple spicy and tangy snack chaat has childhood memories attached to it :-)..</p>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/allotikka.jpg)"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Chicken Ghee Roast</h2>
									<span class="pricing">Rs 225</span>
									<p>This is simply the chicken roast with quality ghee and yummy to eat :-)..</p>
								</div>
							</div>
							<div class="fh5co-h-row-2 fh5co-reversed">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/allotikka.jpg)"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Chola aloo tikki</h2>
									<span class="pricing">Rs 50</span>
									<p>Spiced potato which are stuffed with various fillings..</p>
								</div>
							</div>
						</div>

						<div class="fh5co-v-half">
							<div class="fh5co-h-row-2 fh5co-reversed">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/eggfry.jpg)"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-right">
									<h2>Fried Egg Masala</h2>
									<span class="pricing">Rs 50</span>
									<p>Simple fried eggs enhanced with a home-made spice paste.</p>
								</div>
							</div>
							<div class="fh5co-h-row-2">
								<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/tawapaneer.jpg)"></div>
								<div class="fh5co-v-col-2 fh5co-text arrow-left">
									<h2>Tawa paneer masala</h2>
									<span class="pricing">Rs 150</span>
									<p>Combination of paneer/cottage cheese, capsicum, onion, tomatoes and the regular indian spices-herbs..</p>
								</div>
							</div>
						</div>
						<div class="fh5co-v-half">
							<div class="fh5co-v-col-2 fh5co-bg-img" style="background-image: url(images/bhejafry.jpg)"></div>
							<div class="fh5co-v-col-2 fh5co-text fh5co-special-1 arrow-left">
								<h2>Bheja Fry Masala</h2>
								<span class="pricing">Rs 200</span>
								<p>Goats brain cooked in masalas with fried onion garlic ginger.....</p>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>
